<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>OpenMRS</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

    <!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.UiFrameworkActivator</activator>
	
	<!-- Maps hibernate files, if present -->
	<mappingFiles>
		UserDefinedPageView.hbm.xml
	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<!-- /Internationalization -->
	
	<servlet>
		<servlet-name>resource</servlet-name>
		<servlet-class>org.openmrs.module.uiframework.ResourceServlet</servlet-class>
	</servlet>

</module>

