body {
	margin: 0;
	padding: 0;
	font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;  
}

#header {
	background: #fff0b0;
}

#content {
	padding: 0.25em 0.4em;
}

#errors {
	background-color: yellow;
	font-weight: bold;
}

#flash {
	font-weight: bold;
}

table.bordered {
	border: 1px black solid;
	border-spacing: 0px;
	border-collapse: collapse;
	margin: 2px;
}

table.bordered td {
	border: 1px black solid;
	padding: 3px;
}

table.bordered th {
	border: 1px black solid;
	padding: 3px;
}

.small {
	font-size: 0.8em;
}

.verySmall {
	font-size: 0.6em;
}

.metadata-id {
}

.metadata-name {
}

.metadata-description {
	font-size: 0.8em;
	color: #333333;
}

.field-label {
	display: block;
	background-color: #eeeeee;
}

.field-content {
	display: block;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
}

.retired-info {
	padding: 0.5em;
	border: 1px #bbbbaa solid;
	background-color: #ffffaa;
	margin-bottom: 0.5em;
}

.retired {
	text-decoration: line-through;
}

table.decorated {
	border-spacing: 1px;
}

table.decorated td,th {
	padding: 2px;
	text-align: left;
}

.alternate-shading-odd {
	background-color: #eeeeee
}

.alternate-shading-even {
}

.column {
	float: left;
	padding: 0.25em;
	margin: 0 1em 0 0;
}

.col50 {
	width: 47%;
}

.col40 {
    width: 37%;
}

.col60 {
    width: 57%;
}

.container {
	clear:both;
}

.shortcut {
	float: right;
	border-left: 1px lightgrey dashed;
	padding-left: 0.5em;
	margin-left: 0.5em;
}

.shortcut-icon {
}

.shortcut-label {
	font-size: 0.6em;
}

.shortcut form {
	margin: 0px;
}

.user-notification {
	float: left;
	margin-left: 0.2em;
	text-align: center;
}

.user-notification-label {
	font-size: 0.6em;
}

.search-results-header {
	font-size: 0.8em;
	color: #888888;
}

.unread-message {
	font-weight: bold;
}

.read-message {
}

.metadata {
	border-bottom: 1px lightgrey solid;
}

.error {
	background-color: lightpink;
}

.less-emphasis {
	color: #cccccc
}

.more-emphasis {
	font-weight: bold;
}

span.error, div.error {
	border: 1px dashed darkred;
	padding: 1px 6px 1px 6px;
	margin-left: 4px;
	margin-right: 4px;
	vertical-align: middle;
}

img {
	border: 0;
}

.bordered-list-item {
	border: 1px black solid;
	padding: 0.4em;
	margin: 0 3px 3px 3px;
}

.selection-button {
	border: 1px #bbbbbb solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	padding: 0.1em 0.5em;
	background-color: #f0f0e0;
}

ul.one-line {
    display: inline;
    list-style-type: none;
    padding-top: 0px;
    padding-right: 20px;
}

.summary-box {
	margin: 0.2em;
	border: 1px black solid;
}

.summary-box-header {
	background-color: #e0e0e0;
	border-bottom: 1px black solid;
}

.summary-box-content {
}

.verticalTabPanel-tab {
	text-align: center;
	padding: 0.2em;
	margin-bottom: 0.3em;
}

.verticalTabPanel-unselected-tab:hover {
    background: yellow;
}

.editInPlace-editable {
	cursor: pointer;
	padding: 0.1em;
}

.editInPlace-editable:hover {
    border: 1px grey solid;
    background: white;
}